<%= javascript_importmap_tags %>

<div class="container">
  <h1>Our History</h1>
  <p></p>
  <p>Lugnuts Automotive got its start back in 1998 with one goal — to make it easier for local drivers and mechanics to get the quality car parts they need, without the hassle. What started as a small, family-run supply counter quickly grew into one of the region’s most trusted automotive parts suppliers.</p>

  <p>Over the years, we’ve expanded our inventory, introduced new technology to speed up orders and delivery, and built strong relationships with top manufacturers — from OEM parts to reliable aftermarket options. Whether you're a weekend DIYer or a professional shop, we’re here to help you get the right parts, right when you need them.</p>

  <p>More than two decades later, we're proud to still be locally owned and focused on service. And while a lot has changed in the auto parts world, one thing hasn’t — our commitment to keeping your garage stocked and your projects moving.</p>
</div>

<div class="d-flex justify-content-center my-5">
  <div id="historyCarousel" class="carousel slide w-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/history_1.jpg" class="d-block w-100 rounded" alt="Lugnuts in 1998">
      </div>
      <div class="carousel-item">
        <img src="/history_2.jpg" class="d-block w-100 rounded" alt="Lugnuts in 2005">
      </div>
      <div class="carousel-item">
        <img src="/history_3.jpg" class="d-block w-100 rounded" alt="Lugnuts in 2020">
      </div>
      <div class="carousel-item">
        <img src="/history_4.jpg" class="d-block w-100 rounded" alt="Lugnuts in 2020">
      </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#historyCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#historyCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
<div>

